- name: Configure auth for GitHub Packages
  run: |
    echo "@rowakit:registry=https://npm.pkg.github.com" >> ~/.npmrc
    echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" >> ~/.npmrc
  env:
    NODE_AUTH_TOKEN: ${{ github.token }}
